.facturacion__empresa {
  //   background-color: darkkhaki;
  padding: 0px;
  margin: 0px;
  div {
    div {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}
