.fmparticular {
  //   background-color: darkkhaki;
  padding: 10px 0 !important;
  // display: flex;

  .fmparticular__tipo {
    // background-color: darkorange;
    margin: 10px 0px;
    label {
      margin-right: 5px;
    }
  }
}
