.fmparticular {
  //   background-color: darkkhaki;
  padding: 0px !important;
  .fmparticular__tipo {
    // background-color: darkorange;
    margin: 10px 0px;
    label {
      margin-right: 5px;
    }
  }
}
