.osolicitud__title {
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  color: $color-primary;
}
.osolicitud__caja1 {
  width: 50%;
  .table {
    .thead,
    tr,
    th {
      font-size: 1rem;
      font-weight: 400;
    }
    .tbody,
    tr,
    td {
      padding: 4px 10px;
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 576px) {
  .osolicitud {
    .osolicitud__caja1 {
      width: 100%;
    }
  }
}

// !datos calendario
.organizador__datos {
  margin-top: 15px;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    div {
      width: 48%;
    }
  }
  label {
    margin-right: 5px;
  }
  i {
    cursor: pointer;
  }
}
.organizador__detalle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;

  label {
    margin-right: 5px;
  }
  input {
    width: 95%;
  }
}
.organizador__transportista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    width: 35%;
    margin-right: 5px;
  }
  select {
    width: 40%;
  }
}
.organizador__datostransportista {
  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    select,
    input {
      width: 50%;
    }
  }
}
.organizador__datostransportistas {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
      width: 90%;
    }
  }
}

@media (max-width: 992px) {
  .organizador__datostransportistas {
    flex-direction: column;
    display: flex;
    div {
      display: flex;
      margin-bottom: 5px;
      input {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .organizador__datos {
    div {
      display: flex;
      flex-wrap: wrap;
      div {
        width: 100%;
        input {
          width: 60%;
        }
      }
    }
  }
  .organizador__detalle {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 7px;
      input {
        width: 50%;
      }
    }
  }
  .organizador__datostransportista {
    flex-direction: column;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7px;
      select,
      input {
        width: 60%;
      }
    }
  }
  .organizador__datostransportistas {
    display: flex;
    div {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      input {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .organizador__transportista {
    select {
      width: 50%;
    }
  }
}
@media (max-width: 335px) {
  .organizador__datostransportista {
    margin-top: 7px;
    div {
      input {
        width: 60%;
      }
    }
  }
}
