$color-primary: #009dca;
$color-secondary: #005d96;
$color-white: #fff;

$color-dark: #000;
$color-borde: #9c9c9c;
$color-text-oscuro: #555555;

$box-shadow: 0px 0px 25px -12px rgba(
    $color: $color-dark,
    $alpha: 0.5,
  );
