.adminestadistica__tipo {
  div {
    margin-bottom: 10px;
    div {
      align-items: center;
      display: flex;
      justify-content: space-between;
      select {
        width: 50%;
      }
    }
    textarea {
      width: 100%;
    }
  }
}

.adminestadistica__fecha {
  margin: 8px 0px;
  .adminestadistica__subfecha {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 45%;
    }
    label {
      margin-right: 10px;
    }
    input,
    select {
      width: 100%;
    }
  }
}

.adminestadistica__trabajador {
  box-shadow: $box-shadow;
  display: flex;
  display: flex;
  justify-content: space-between;
  input {
    width: 100%;
  }
}

.adminestadistica__tipowork {
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
}

.barra {
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  padding: 15px;
}
